*{
margin: 0;
padding: 0;
box-sizing: border-box; 
}


body{
background-color: rgb(249, 249, 249);
text-align: center;
}

/* Imagen principal */

.img-borde {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.18);
  display: block;
  margin: 0 auto;   
}

/* Flex */

header {
  height: 10vh;
  background-color: rgb(240, 208, 28);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 40px;
}

/* Logo */
.logo {
  color: rgb(11, 9, 0);
  margin: 0;
}

/* Inicio,Nosotros,contacto,ingresar */

nav a {
  color: black;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

nav a:hover{
  background-color: rgb(139, 139, 182);
}

nav a.active{
  background-color: rgb(139, 139, 182); 
}

.hero {
  margin-top: 40px;   
}


/* Impulsá tu futuro profesional aprendiendo SAP */
.hero-img {
  display: flex;
  justify-content: center;
}

.hero-img h2 {
  position: absolute;
  z-index: 2;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
  max-width: 500px;
  text-shadow: 0 4px 20px rgba(0,0,0,0.6);
}

/* Primera línea */
.hero-img h2 {
  font-size: 42px;
  font-weight: 700;
}

/* Segunda línea */
.hero-img h2 span {
  display: block;          
  font-size: 28px;
  font-weight: 500;
  margin-top: 10px;
}


/* GRID */
.cursos {
  display: grid;                      
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 60px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.curso-card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* Responsive */
@media (max-width: 900px) {
  .cursos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cursos {
    grid-template-columns: 1fr;
  }
}

footer  {
  padding: 20px 0;
  background-color: rgb(255, 172, 6);
}


